<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>TradiJuegos MX</title>

	<link rel="shortcut icon" href="../images/logo.webp">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="../css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="../css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	<style>
		.carrusel{
  display: flex;
  width: 600px;
  height: 430px;
}
.carrusel img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
.carrusel img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

p{
	font-size: large;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

	</style>
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="../index.html"><img src="../images/logoheader.webp" width="200px" height="80px"  alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="../index.html">Inicio</a></li>
					<li><a href="">Sobre Nosotros</a></li>
					<li><a href="../view/juegos.html">Juegos Populares</a></li>
					<li><a href="../view/loteria.html"> Loteria</a></li>
					<li><a class="btn" href="../view/signin.html">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="../index.html">Inicio</a></li>
			<li class="active">Sobre Nosotros</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-12 maincontent ">
				<header class="page-header">
					<h1 class="page-title">Objetivos</h1>
				</header>
				<h3>Dar a conocer</h3>
				<p>Queremos que las personas más jovenes, personas extranjeras o cualquier persona con un interés, conozca
					sobre los juegos tradicionales de México y como se juega cada uno de ellosl ya que representa una parte muy
					importante dentro de la cultura del país.
				</p>

				

				<h3>Preservar</h3>
				<p>Otro de nuestros principales objetivos es ayudar a preservar estos juegos que son una tradición del país, cada nueva
					generación emergente, no tiene un contacto muy común con los juegos así que es importantes que empiezen a familiarizarse
					con estos juegos ya que forman parte de su patrimonio y tradición como mexicano.
				</p>
				
				<section class="carrusel">
					<img src="../images/index1.jpeg" alt="" srcset="">
					<img src="../images//index2.jpg" alt="" srcset="">
					<img src="../images/index3.jpg" alt="" srcset="">
					<img src="../images/index4.jpg" alt="" srcset="">
					<img src="../images/index5.webp" alt="" srcset="">
					<img src="../images/index6.jpg" alt="">
					<img src="../images//index7.jpg" alt="">
					<img src="../images/index8.jpeg" alt="">
				</section>

			</article>
			<!-- /Article -->
			
			
			

		</div>
	</div>	<!-- /container -->
	
<!-- Social links. @TODO: replace by link/instructions in template -->
<section id="social">
	<div class="container">
		<div class="wrapper clearfix">
			<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_linkedin_counter"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			</div>
			<!-- AddThis Button END -->
		</div>
	</div>
</section>
<!-- /social links -->


<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">
				
				<div class="col-md-3 widget">
					<h3 class="widget-title">Contacto</h3>
					<div class="widget-body">
						<p>+52 123456789<br>
							<a href="mailto:#">siii@gmail.com</a><br>
							<br>
							Mérida, Yucatán, México 97166
						</p>	
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Síguenos en nuestras redes sociales</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href=""><i class="fa fa-facebook fa-2"></i></a>

							<a href=""><i class="fa fa-twitter fa-2"></i></a>
							<a href=""><i class="fa fa-instagram fa-2"></i></a>
							<a href=""><i class="fa fa-linkedin fa-2"></i></a>
						</p>	
					</div>
				</div>

				<div class="col-md-6 widget">
					<h3 class="widget-title">Acerca De</h3>
					<div class="widget-body">
						<p>Esta página fue realizada por Ivan Guerra y Ricardo García para una práctica escolar</p>
						<p>Todos los derechos reservados</p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</div>

	

</footer>	
	



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>