<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
		
		<title>TradiJuegos MX</title>
	
		<link rel="shortcut icon" href="../images/logo.webp">
		
		<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/font-awesome.min.css">
	
		<!-- Custom styles for our template -->
		<link rel="stylesheet" href="../css/bootstrap-theme.css" media="screen" >
		<link rel="stylesheet" href="../css/main.css">
	
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->
		<style>
			.carrusel{
	  display: flex;
	  width: 600px;
	  height: 430px;
	}
	.carrusel img{
	  width: 0px;
	  flex-grow: 1;
	  object-fit: cover;
	  opacity: .8;
	  transition: .5s ease;
	}
	.carrusel img:hover{
	  cursor: crosshair;
	  width: 300px;
	  opacity: 1;
	  filter: contrast(120%);
	}
	
	p{
		font-size: large;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		text-align: justify;
	}
	
		</style>
	</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="../index.html"><img src="../images/logoheader.webp" width="200px" height="80px"  alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="../index.html">Inicio</a></li>
					<li><a href="../view/about.html">Sobre Nosotros</a></li>
					<li><a href="">Juegos Populares</a></li>
					<li><a href="../view/loteria.html"> Loteria</a></li>
					<li><a class="btn" href="../view/signin.html">SIGN IN / SIGN UP</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="../index.html">Inicio</a></li>
			<li class="active">Juegos Populares</li>
		</ol>

		<div class="row">
		
			<div class="card mb-3">
				<div class="card-body">
				  <h2 class="card-title">Kimbomba</h2>
				  <p class="card-text">
					Este es un juego tradicional de la realeza maya que tiene cientos de años practicándose en las calles, particularmente en las de la península de Yucatán.
					<br>
					Suele practicarse mayoritariamente por los varones, pues se parece mucho al béisbol. En vez de usarse una pelota, se utiliza una pequeña vara de madera de máximo 10 centímetros cuyas puntas tienen una terminación cónica. La otra vara más grande, de unos 20 centímetros, es el bate.
					<br>
					En el piso se pinta un círculo de unos 2 metros de diámetro que dentro llevará un cuadrado de 15 centímetros cada lado, donde reposará la kimbomba para ser bateada.
					<br>
					Cada equipo está compuesto de 3 jugadores; un equipo bateará para anotar la mayor cantidad de carreras y el otro equipo atajará la kimbomba hasta hacer tres outs y tomar su turno al bate.
				  </p>
				</div>
				<center>
					<img src="../images/juegos1.jpg" width="50%" height="85%" alt="...">
				</center>			</div>
			<br>
			<div class="card mb-3">
				<div class="card-body">
				  <h2 class="card-title">LOTERÍA</h2>
				  <p class="card-text">
					Se reparten cartones que tienen diferentes dibujos, así como un puñado de frijoles o piedras para ir marcando las figuritas.
					<br>
					Una persona será la responsable de ir cantando los distintos dibujos según la baraja que tiene, los demás deberán ir marcando si tienen o no la figura que han dicho. Ganará quien llene primero su cartón.
				  </p>
				</div>
				<center>
					<img src="../images/juegos2.jpg" width="50%" height="500%" alt="...">
				</center>			</div>
			<br>
			<div class="card mb-3">
				<div class="card-body">
				  <h2 class="card-title">TROMPO</h2>
				  <p class="card-text">
					Se trata de un objeto en forma de gota de agua que normalmente es de madera o plástico con una punta de metal. Se le enrolla una cuerda a la que se da un jalón rápido para hacerlo bailar.
					<br>
					Existen diversas modalidades de juego; una es hacer un círculo en el piso y poner un trompo a bailar, mientras que el resto de los jugadores tratará de sacarlo con sus trompos.
				  </p>
				</div>
				<center>
					<img src="../images/juego3.jpeg" width="50%" alt="...">
				</center>			</div>
			<br>
			<div class="card mb-3">
				<div class="card-body">
				  <h2 class="card-title">CANICAS</h2>
				  <p class="card-text">
					Las canicas son bolitas de distintos materiales como vidrio, arcilla o metal que se lanzan con precisión.
					<br>
					Existe infinidad de formas de lanzarlas y modalidades de juego que van variando en cada país. Por ejemplo, en México uno de los juegos más famosos es el cocol o rombo, que consiste en que se dibuja en el suelo un rombo sobre el cual se colocarán las canicas que serán apostadas.
					<br>
					El objetivo es lanzar las canicas por turnos para sacar las que ya están en el cocol. Gana el jugador que no es eliminado.
				  </p>
				</div>
				<center>
					<img src="../images/juegos4.webp" width="50%" alt="...">
				</center>
			</div>
			<br>
			<div class="card mb-3">
				<div class="card-body">
				  <h2 class="card-title">CHÁCARA</h2>
				  <p class="card-text">
					Se estima que su origen es precisamente mexicano porque los mayas ya jugaban a algo similar, aunque su práctica se ha extendido por toda Latinoamérica y se le conoce también como el avión o la rayuela.
					<br>
					Consiste en dibujar en el suelo una cuadrícula que simula un avión, con cuadros del 1 al 10, y en este último se dibuja un gran círculo.
					<br>
					Por turnos, cada jugador lanzará la chácara —que puede ser una piedra o pequeña bola— para ir saltando en un pie o dos según la cuadrícula sin pisar las rayas hasta el lugar donde reposa el objeto.
				  </p>
				</div>
				<center>
					<img src="../images/juegos5.jpeg" width="40%" alt="...">
				</center>
			</div>

		</div>
	</div>	<!-- /container -->
	
<!-- /social links -->


<footer id="footer" class="top-space">

	<div class="footer1">
		<div class="container">
			<div class="row">
				
				<div class="col-md-3 widget">
					<h3 class="widget-title">Contacto</h3>
					<div class="widget-body">
						<p>+52 123456789<br>
							<a href="mailto:#">siii@gmail.com</a><br>
							<br>
							Mérida, Yucatán, México 97166
						</p>	
					</div>
				</div>

				<div class="col-md-3 widget">
					<h3 class="widget-title">Síguenos en nuestras redes sociales</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href=""><i class="fa fa-facebook fa-2"></i></a>

							<a href=""><i class="fa fa-twitter fa-2"></i></a>
							<a href=""><i class="fa fa-instagram fa-2"></i></a>
							<a href=""><i class="fa fa-linkedin fa-2"></i></a>
						</p>	
					</div>
				</div>

				<div class="col-md-6 widget">
					<h3 class="widget-title">Acerca De</h3>
					<div class="widget-body">
						<p>Esta página fue realizada por Ivan Guerra y Ricardo García para una práctica escolar</p>
						<p>Todos los derechos reservados</p>
					</div>
				</div>

			</div> <!-- /row of widgets -->
		</div>
	</div>

	

</footer>	
	
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="../js/headroom.min.js"></script>
	<script src="../js/jQuery.headroom.min.js"></script>
	<script src="../js/template.js"></script>
</body>
</html>